@import 'styles/variables.module.scss';

.coverUpload {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  max-height: 240px;

  @media (min-width: #{$bp-xs + 1}) and (max-width: #{$bp-s}) {
    max-height: 400px;
  }

  @media (min-width: #{$bp-s + 1}) {
    max-height: 600px;
  }

  &:not(.downloading) {
    border: 2px dotted $color-primary;
  }

  &.spaced {
    margin-top: 6.625rem;
  }

  .coverOptions {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
  }

  .label {
    display: block;
    padding: 2rem;
    text-align: center;
  }

  .uploadIcon {
    font-size: 1rem;
    max-width: 1rem;
    max-height: 1rem;
    margin-right: 0.5rem;
  }

  input {
    display: none;
  }

  img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    width: 100%;
  }
}
