@import 'styles/variables.module.scss';

.button {
  border: 2px solid $color-primary;
  color: $color-primary;
  background-color: #fff;
  padding: 0.5rem 1rem;
  font-weight: 400;
  transition: color 234ms cubic-bezier(0.22, 1, 0.36, 1), background-color 234ms cubic-bezier(0.22, 1, 0.36, 1);

  @include focusStates {
    background-color: $color-primary;
    color: #fff;
  }

  &:disabled {
    cursor: default;
    border-color: $color-disabled !important;
    color: $color-disabled !important;
    background-color: #fff !important;
  }

  &.active {
    background-color: $color-primary;
    color: #fff;
  }

  &.secondary {
    border-color: #000;
    color: #000;

    @include focusStates {
      background-color: #000;
      color: #fff;
    }

    &.active {
      background-color: #000;
      color: #fff;
    }
  }
}
