@import 'styles/variables.module.scss';

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  min-width: 6.5rem;
  max-width: 17.5rem;

  @media (max-width: #{$bp-s}) {
    flex-basis: 33%;
  }

  @media (min-width: #{$bp-s + 1}) {
    &:first-child {
      padding-left: 0.5rem;
    }

    &:last-child {
      padding-right: 0.5rem;
    }
  }

  .name {
    font-family: 'Oswald', sans-serif;
    font-size: 1.625rem;
    font-weight: 400;
    margin: 0.75rem 0 1rem;
    letter-spacing: -0.5px;

    @media (min-width: #{$bp-xs + 1}) and (max-width: #{$bp-s}) {
      font-size: 2rem;
    }

    @media (min-width: #{$bp-s + 1}) {
      font-size: 2.375rem;
    }
  }

  .rating {
    font-family: 'Oswald', sans-serif;
    font-size: 1.625rem;
    color: #fff;
    background: #000;
    border: none;
    text-align: center;
    width: 100%;
    padding: 0;

    @media (min-width: #{$bp-xs + 1}) and (max-width: #{$bp-s}) {
      font-size: 2rem;
    }

    @media (min-width: #{$bp-s + 1}) {
      font-size: 2.375rem;
    }
  }

  input.rating {
    border: 1px solid #fff;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type='number'] {
      -moz-appearance: textfield;
    }
  }

  .spinner {
    border-width: 1px;
    padding: 0.5rem;
    font-size: 1.25rem;
  }

  .spinnerContainer {
    display: flex;
    width: 100%;
    margin: 0.5rem 0 0.25rem;
  }

  .image {
    width: 100%;
  }
}
