@import './variables.module.scss';

.container {
  padding: 0 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
}

.main {
  flex-grow: 2;
}

.coverUpload {
  display: block;
  width: 100%;
  cursor: pointer;

  &:not(.downloading) {
    border: 2px dotted $color-primary;
  }

  .label {
    display: block;
    padding: 2rem;
    text-align: center;
  }

  input {
    display: none;
  }

  img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    width: 100%;
  }
}

.gameName {
  font-size: 2.75rem;
  font-weight: 600;
  line-height: 1;
  margin: 0.5rem 0 1rem;
  text-align: center;
  border: none;
  background: none;
  width: 100%;
  padding: 0;
}

input.gameName {
  border: 1px solid #000;
}

.ratingsContainer {
  padding: 0.5rem;
  border: 5px solid #000;
  background-color: #fff;
  text-align: center;
}

.ratingsColumns {
  display: flex;
  background-color: #000;
}

.footer {
  height: 4rem;
}
