$color-rating-1: rgb(214, 144, 207);
$color-rating-2: rgb(181, 218, 243);
$color-rating-3: rgb(230, 229, 90);
$color-rating-4: rgb(248, 168, 67);
$color-rating-5: rgb(236, 62, 70);

$color-primary: $color-rating-5;