$color-rating-1: rgb(214, 144, 207);
$color-rating-2: rgb(181, 218, 243);
$color-rating-3: rgb(230, 229, 90);
$color-rating-4: rgb(248, 168, 67);
$color-rating-5: rgb(236, 62, 70);

$color-primary: $color-rating-5;
$color-disabled: #777777;

$export-size: 1024px;

$bp-xs: 468px;
$bp-s: 768px;
$bp-m: 1024px;

$transition-time-fast: 160ms;
$transition-time-normal: 220ms;
$transition-ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);

@mixin focusStates() {
  &:hover,
  &:focus,
  &:active {
    @content;
  }
}

@mixin oswald() {
  font-family: 'Oswald', sans-serif;
  letter-spacing: -0.5px;
}
